div.card {
    width: 250px;
    height: 300px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden
}

div.cardimg {
    width: 100%;
    height: 65%;
    position: relative;
}

div.cardtext {
    height: 35%;
    padding: 10px;
}

div.cardtext h3 {
    font-size: 1em;
    color: blue;
    margin: 0 0 5px 0;
}

div.cardtext h5 {
    font-size: 0.8em;
    color: #666;
    margin: 0;
    font-weight: normal;
}
